{% extends 'indexer/index_base.html' %}
{% load crispy_forms_tags %}
{% comment %} indexing page - enter a URL input {% endcomment %}
{% block content %}
<div class="row">
        <div class="col-sm">
            <h1>
                {% block page_title %}
                {% endblock page_title %}
            </h1>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.url.errors %}
                {% for error in form.url.errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block custom_alert %}
            {% endblock custom_alert %}
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">{% block button_text %}{% endblock button_text %}</button>
            </form>
        </div>
    </div>
{% endblock content %}
